@import "~bootstrap/scss/bootstrap.scss";
@import "./variable.scss";
@import "~@fontsource/roboto-slab/200.css";
@import "~@fontsource/roboto-slab/400.css";
@import "~@fontsource/roboto-slab/600.css";
@import "~@fontsource/roboto-slab/800.css";

body {
    font-family: "Roboto Slab", serif;
    font-weight: 400;
}

.text_brand_primary_color {
    color: $brand-primary-color;
}

img {
    width: 100%;
}
